* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 2.5)
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
@font-face {
	font-family: neucha_f;
	src: url(../fonts/Neucha.ttf);
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
	
}

.main-header::after {
	content: '';
	position: absolute;
	z-index: 40;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}

.layer {
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
  font-size: calc(var(--index) * 3.7);
	letter-spacing: calc(var(--index) / 1.5);
  font-family: neucha_f;
}


.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	color: var(--text);
	top: -1px;	
}
.main-article__header {
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
}

.copy {
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}

/****************************/

.gallery__left {
	flex: 1;
	display: flex;
	align-items: flex-start;
	
	padding-top:calc(var(--index) * 4) ;
	padding-bottom:calc(var(--index) * 2) ;
	padding-left:calc(var(--index) * 2) ;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	max-height: 180vh;
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
	margin-bottom: 1.5rem;
}
/**************DRESS UP**************/


  #backdrop {
    position: relative;
    background-color: rgb(246, 240, 255);
	height: 85vh;
    width: 40vw;
  }

  
  #girl {
    background-image: url("images4/1.png");
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  #dress {
    background-repeat: no-repeat;
	background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
  }
 
  
  .dress0 {
    background-image: url("./images4/dress0.png");  
  }
  .dress1 {
    background-image: url("./images4/dress1.png"); 
  }
  .dress2 {
    background-image: url("./images4/dress2.png"); 
  }
  .dress3 {
    background-image: url("./images4/dress3.png");
  }
  .dress4 {
    background-image: url("./images4/dress4.png");
  }
  .dress5 {
    background-image: url("./images4/dress5.png");
  }
  .dress6 {
    background-image: url("./images4/dress6.png");
  }
  .dress7 {
    background-image: url("./images4/dress7.png");
  }


  /**-------------------SCROLL BAR TABS ***/
  .scrollable-tabs-container {
    font-family: "Roboto", sans-serif;
    background: #000;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }
  
  .scrollable-tabs-container svg {
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    pointer-events: auto;
  }
  
  .scrollable-tabs-container ul {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  
  .scrollable-tabs-container ul.dragging a {
    pointer-events: none;
  }
  
  .scrollable-tabs-container ul.dragging {
    scroll-behavior: auto;
  }
  
  .scrollable-tabs-container ul::-webkit-scrollbar {
    display: none;
  }
  
  .scrollable-tabs-container a {
    color: #fff;
    text-decoration: none;
    background: #333;
    padding: 4px 24px;
    display: inline-block;
    border-radius: 4px;
    user-select: none;
    white-space: nowrap;
  }
  
  .scrollable-tabs-container a.active {
    background: #fff;
    color: #000;
  }
  
  .scrollable-tabs-container .right-arrow,
  .scrollable-tabs-container .left-arrow {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    display: none;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
  }
  
  .scrollable-tabs-container .right-arrow.active,
  .scrollable-tabs-container .left-arrow.active {
    display: flex;
  }
  
  .scrollable-tabs-container .right-arrow {
    right: 0;
    background: linear-gradient(to left, #000 50%, transparent);
    justify-content: flex-end;
  }
  
  .scrollable-tabs-container .left-arrow {
    background: linear-gradient(to right, #000 50%, transparent);
  }
  
  .scrollable-tabs-container svg:hover {
    background: #333;
  }
/** -------------END OF SCROLL BAR-------------*/

  .dress-up-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
    gap: 10px;
    
  }

  .test-button {
    height: 200px;
    width: 150px;
  }
  .test-button img{
    height: 100%;
    width: 100%;
  }